
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 30px;
    color: rgb(70, 161, 47);
    border-bottom: 1px solid #ddd;
}

/* Logo image styling */
.logo img {
    height: 50px;
    width: auto;
}

/* Navigation button container */
.nav-buttons {
    display: flex;
    gap: 10px;
}

/* Styling for buttons */
.nav-buttons button {
    background-color: #ffffff;
    color: rgb(14, 9, 9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 30px;
    font-weight:lighter;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.nav-buttons button:hover {
    background-color: #777;
    color: #fff;
}

 
.hero-section {
    height: 100vh;  
    background-image: url('C:/Users/USER/Desktop/trioes/lab-css-spotify-clone/images/landing.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 20px;  
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.features-section {
    text-align: center;
    margin: 50px 0;
}

.features-section h2 {
    font-size: 2rem;
    color: #333;
}

.section-underline {
    width: 300px;
    height: 4px;
    background-color: #1db954;
    border: none;
    margin: 5px auto;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature img {
    height: 100px;
    margin-bottom: 20px;
}

.feature h3 {
    color: #1db954;
    font-size: 2rem;
    margin-bottom: 15px;
}

.feature p {
    color: #555;
    font-size: 1.7rem;
}

.yeezy-section {
    display: flex;
    background-color: #1db954;
    padding: 30px 20px;
    margin: 25px;
    justify-content: space-around;
    align-items: center;
}

.yeezy-content {
    color: white;
    max-width: 50%;
}

.yeezy-content h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 5px;
}

.section-underline {
    width: 100%;  
    height: 4px;
    background-color: white;
    border: none;
    margin-bottom: 20px;
}


.yeezy-text h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.yeezy-text p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.spotify-logo {
    position:relative; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 60px; 
    z-index: 10; 
}


.yeezy-image img {
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}
